// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
	// combos defining home row mods
	combo_fd_lgui {
	    timeout-ms = <15>;
	    key-positions = <13 12>;
	    bindings = <&ht LGUI &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_jk_rgui {
	    timeout-ms = <15>;
	    key-positions = <16 17>;
	    bindings = <&ht RGUI &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_fs_lctrl {
	    timeout-ms = <15>;
	    key-positions = <13 11>;
	    bindings = <&ht LCTRL &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_jl_rctrl {
	    timeout-ms = <15>;
	    key-positions = <16 18>;
	    bindings = <&ht RCTRL &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_fa_lopt {
	    timeout-ms = <15>;
	    key-positions = <13 10>;
	    bindings = <&ht LALT &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_jsemi_ropt {
	    timeout-ms = <15>;
	    key-positions = <16 19>;
	    bindings = <&ht RALT &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_ds_lshift {
	    timeout-ms = <15>;
	    key-positions = <12 11>;
	    bindings = <&ht LSHFT &none>;
	    require-prior-idle-ms = <100>;
	}
	combo_kl_rshift {
	    timeout-ms = <15>;
	    key-positions = <18 17>;
	    bindings = <&ht RSHFT &none>;
	    require-prior-idle-ms = <100>;
	}


        combo_esc {
            timeout-ms = <15>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            require-prior-idle-ms = <100>;
        };
	combo_tab {
            timeout-ms = <15>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
            require-prior-idle-ms = <100>;
        };
	combo_back {
            timeout-ms = <50>;
            key-positions = <19 18>;
            bindings = <&kp BSPC>;
            require-prior-idle-ms = <100>;
        };
	combo_del {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp BSPC>;
            require-prior-idle-ms = <100>;
        };
	combo_1L {
            timeout-ms = <100>;
            key-positions = <10 30>;
            bindings = <&mo 1>;
	    slow-release;
        };
	combo_2L {
            timeout-ms = <100>;
            key-positions = <11 30>;
            bindings = <&mo 2>;
	    slow-release;
        };
	combo_3L {
            timeout-ms = <100>;
            key-positions = <12 30>;
            bindings = <&mo 3>;
	    slow-release;
        };
        combo_4L {
            timeout-ms = <100>;
            key-positions = <4 30>;
            bindings = <&mo 4>;
	    slow-release;
        };
	combo_1R {
            timeout-ms = <100>;
            key-positions = <19 33>;
            bindings = <&mo 1>;
	    slow-release;
        };
	combo_2R {
            timeout-ms = <100>;
            key-positions = <18 33>;
            bindings = <&mo 2>;
	    slow-release;
        };
	combo_3R {
            timeout-ms = <100>;
            key-positions = <17 33>;
            bindings = <&mo 3>;
	    slow-release;
        };
        combo_4R {
            timeout-ms = <100>;
            key-positions = <5 33>;
            bindings = <&mo 4>;
	    slow-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ; :      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SEMI)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp ESC    &kp SPACE     &kp SPACE  &kp ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_1 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  1 !     │  2 @     │  3 #     │ 4 $      │  5  %    │   | 6 ^      │ 7 &      │ 8 *      │  9 (     │  0 )
	     &kp N1     &kp N2     &kp N3     &kp N4      &kp N5        &kp N6     &kp N7    &kp N8      &kp N9     &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ -        │  _       │  +       │  =       │  |       │   │  {       │  }       │ [        │ ]        | ' "
	   HRML(MINUS,  UNDER,    PLUS,      EQUAL)     &kp PIPE      &kp LBRC  HRMR(RBRC,  LBKT,      RBKT,      SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │  !       │  @       │          │   │          │  (       │ )        │          |  
           &kp TILDE   &kp GRAVE  &kp EXCL   &kp AT      &trans          &trans    &kp LPAR   &kp RPAR   &trans     &kp BSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &kp LSHFT     &kp RSHFT     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_2 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
	     &kp EXCL   &kp AT     &kp HASH   &kp DLLR  &kp PERCENT    &kp CARET   &kp AMPS  &kp STAR    &kp LPAR  &kp RPAR
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  L       │  DOWN    │  UP      │  R       │          │
            &trans     &kp F5     &kp F6     &kp F7     &kp F8         &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &kp F1     &kp F2     &kp F3     &kp F4         &kp HOME  &kp PG_DN  &kp PG_UP   &kp END   &kp K_APP
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_3 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
            &kp INS    &kp F9      &kp F10   &kp F11     &kp F12        &kp HOME  &kp PG_DN  &kp PG_UP   &kp END   &kp K_APP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  L       │  DOWN    │  UP      │  R       │          │
            &trans     &kp F5     &kp F6     &kp F7     &kp F8         &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
            &trans     &kp F1     &kp F2     &kp F3     &kp F4         &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        layer_4 {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
